<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.supcrm.xinlin.supcrm">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Controler.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Controler.BussinessActivity"
            android:label="@string/title_activity_bussiness"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Controler.LinkManActivity" />
        <activity android:name=".Controler.TestActivity" />
        <activity android:name=".Controler.LinkAddActivity" />
        <activity
            android:name=".Controler.CostomerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Controler.CommodityActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Controler.CommodityItemActivity" />
        <activity android:name=".Controler.CommodityAddActivity" />
        <activity android:name=".Controler.CustomerItemActivity" />
        <activity android:name=".Controler.CustProcessAddActivity" />
        <activity android:name=".Controler.CommodityChooseActivity" />
        <activity android:name=".Controler.ContractAddActivity" />
        <activity android:name=".Controler.ChanceItemActivity" />
        <activity android:name=".Controler.ChanceProcessAddActivity" />
        <activity android:name=".Controler.ChanceAddActivity" />
        <activity android:name=".Controler.CustomerAddActivity" />
        <activity android:name=".Controler.LinkFindCustActivity"></activity>
        <service
            android:name=".Data.LoginService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>